header {
	padding-top:20px;
	font-family:"Verdana";
	font-weight:bold;
	font-size:30px;
	padding-left:100px;
}

main {
	padding-left:100px;
	margin-top:40px;
	height:650px;
	width:800px;
	font-family:"Verdana"
}

fieldset {
	background: #FAEBD7;
	box-shadow: 10px 5px #FFDAB9;
}

.space {
	line-height:60px;
}

label {
	float: left;
	width: 300px;
	text-align: left;
	margin-right: 0.5em;
}

input {
	font-family: Georgia, "Times New Roman", Times, serif;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    outline: 0;
    padding: 7px;
    width: 50%;
    
}

input :focus{
   border: 1px SOLID #EDEDED;
}