@CHARSET "ISO-8859-1";

body {
	padding-top: 30px;
	background-color: #F5EFEF;
	text-align: center;
	background-color: #F5EFEF;
}

.wrapper {
	margin-top: 70px;
	margin-left: 38%;
	border: 1px solid gray;
	width: 450px;
	height: 200px;
	padding-top: 40px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color: rgba(0, 0, 0, 0.3);
}

table {
	text-align: left;
	margin-left: 80px;
}

.submit{
	margin-left:100px;
}

.message {
	color: red;
}

p {
	text-align: :center;
}