.space {
	margin-top:10%;
	margin-left:30%;
}

.background {
	width:480px;
	height:440px;
	background-image:url("cream.jpg"),url("floral2.jpg"),url("floral1.jpg"),url("flower.jpg");
	background-position:right bottom, left top, right top, left bottom;
	background-repeat:no-repeat;
	background-size:50% 50% 50% 50%;
}

.space1 {
	padding:140px;
}
.shape {
	width:200px;
	height:120px;
	background-color:#86C67C;
	border-radius:0 120px 0 120px;
	border:#3D8B37 solid;
}